
@tailwind base;

/* @tailwind components; */

@tailwind utilities;

@layer base {
  button:disabled {
    cursor: not-allowed;
  }
}

@layer utilities {

  @font-face {
    font-family: 'uncut';
    src: url(~/styles/font/_var_public.woff2) format('woff2-variations');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Metropolitano-Thin';
    src: url(~/styles/font/_var_public.woff2) format('woff2-variations');
    font-weight: 200;
    font-stretch: 115%;
    font-display: swap;
  }
  @font-face {
    font-family: 'Metropolitano-Light';
    src: url(~/styles/font/_var_public.woff2) format('woff2-variations');
    font-weight: 300;
    font-stretch: 115%;
    font-display: swap;
  }
  @font-face {
    font-family: 'sans';
    src: url(~/styles/font/_var_public.woff2) format('woff2-variations');
    font-weight: 300;
    font-stretch: 115%;
    font-display: swap;
  }
    @font-face {
      font-family: 'Metropolitano-Regular';
      src: url(~/styles/font/_var_public.woff2) format('woff2-variations');
      font-weight: 400;
      font-stretch: 115%;
      font-display: swap;
    }
    @font-face {
      font-family: 'Metropolitano-Medium';
      src: url(~/styles/font/_var_public.woff2) format('woff2-variations');
      font-weight: 500;
      font-stretch: 115%;
      font-display: swap;
    }
    @font-face {
      font-family: 'Metropolitano-Bold';
      src: url(~/styles/font/_var_public.woff2) format('woff2-variations');
      font-weight: 700;
      font-display: swap;
    }
    @font-face {
      font-family: 'Metropolitano-Black';
      src: url(~/styles/font/_var_public.woff2) format('woff2-variations');
      font-weight: 800;
      font-display: swap;
    }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shadow-divider {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 9px -10px inset;
  }

  .mirror-x {
    --tw-scale-x: -1;
  }

  .text-inherit {
    color: inherit;
  }

  .cookie-container {
    backdrop-filter: blur(8px) !important;
    background-color: rgb(0 0 0 / 0.75) !important;
  }
  .cookie-consent-button {
    color: #fff !important;
    letter-spacing: 0.1em !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid rgba(255, 255, 255, 0.25) !important; /* Add a border style */
  }
  .cookie-consent-button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important; /* Add a border style */
  }

  .parent {
    font-size: 28px;
    font-weight:500;
    line-height: 120%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;

  }
  .parent:hover {
    color: #ffffffc0;
  }

  .child {
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 400;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-transform: uppercase;
  }
  .child:hover {
    color: #ffffffc0;
  }

  .disco-gradient {
    background: linear-gradient(90deg, 
    rgba(255,0,0,var(--opacity)) 0%, 
    rgba(255,0,0,var(--opacity)) 5.261845386533666%, 
    rgba(251,255,0,var(--opacity)) 14.339152119700744%, 
    rgba(250,255,0,var(--opacity)) 25.60265747983557%, 
    rgba(247,255,0,var(--opacity)) 25.81047381546135%, 
    rgba(118,255,0,var(--opacity)) 33.083954237940304%, 
    rgba(117,255,0,var(--opacity)) 39.318368203027596%, 
    rgba(1,235,251,var(--opacity)) 43.05901658207995%, 
    rgba(0,235,255,var(--opacity)) 45.80215872671836%, 
    rgba(0,235,255,var(--opacity)) 55.777221070858005%, 
    rgba(0,45,255,var(--opacity)) 61.01412880153134%, 
    rgba(55,1,255,var(--opacity)) 66.37572481150639%, 
    rgba(155,0,255,var(--opacity)) 72.85951533519717%, 
    rgba(168,0,255,var(--opacity)) 80.5901886519054%, 
    rgba(253,0,130,var(--opacity)) 84.82959014816474%, 
    rgba(255,0,129,var(--opacity)) 91.43806895115726%, 
    rgba(255,0,2,var(--opacity)) 96.05153528532185%
    );
  }

  .wrapper {
    width: 100%;
    position: absolute;
    background-size: 200% 200%;
    animation: gradient 16s linear infinite;
}

@keyframes gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}
}
